===============================
=========== EnvCTRL ===========
===============================

       c0Bounds: (0 1 1 1)
       c1Bounds: (0 1 1 1)
distanceWeights: map(std::string, float) {
    "_expression": 0.1
             "c0": 0.1
             "c1": 0.1
}
  mutationRates: map(std::string, float) {
    "_expression": 0
             "c0": 0.1
             "c1": 0.1
}

===============================
