================================
============ EnvCGP ============
================================

       c0Bounds: (0 1 1 1)
       c1Bounds: (0 1 1 1)
distanceWeights: map(std::string, float) {
      "c0": 0.1
      "c1": 0.1
     "h_a": 0.1
     "h_f": 0.1
    "t_a0": 0.1
    "t_a1": 0.1
    "t_m0": 0.1
    "t_m1": 0.1
    "t_s0": 0.1
    "t_s1": 0.1
     "w_m": 0.1
     "w_s": 0.1
}
      h_aBounds: (0 0.5 0.5 1)
      h_fBounds: (0 1 1 10)
  mutationRates: map(std::string, float) {
      "c0": 0.1
      "c1": 0.1
     "h_a": 0.1
     "h_f": 0.1
    "t_a0": 0.1
    "t_a1": 0.1
    "t_m0": 0.1
    "t_m1": 0.1
    "t_s0": 0.1
    "t_s1": 0.1
     "w_m": 0.1
     "w_s": 0.1
}
     t_a0Bounds: (0 0.25 0.25 1)
     t_a1Bounds: (0 0.125 0.125 0.5)
     t_m0Bounds: (0 0.75 0.75 1)
     t_m1Bounds: (0 0.25 0.25 1)
     t_s0Bounds: (0.01 0.05 0.05 0.2)
     t_s1Bounds: (0.01 0.05 0.05 1)
      w_mBounds: (0 0.25 0.25 1)
      w_sBounds: (0 0.1 0.1 1)

================================
