===========================================
=============== Environment ===============
===========================================

        rngSeedBounds: (0 0 4294967295 4294967295)
          widthBounds: (10 100 100 1000)
          depthBounds: (25 25 25 25)
           minTBounds: (-20 -20 -20 -20)
           maxTBounds: (40 40 40 40)
         voxelsBounds: (100 100 100 100)
        inertiaBounds: (0 .9 .9 1)
        mutationRates: map(std::string, float) {
    "controller": 0.9
         "depth": 0
       "inertia": 0.1
          "maxT": 0
          "minT": 0
       "rngSeed": 0
        "voxels": 0
         "width": 0
}
genotypeEnvCtrlConfig: ./configs/CGP.config

===========================================
