===========================================
=============== Environment ===============
===========================================

          depthBounds: (50 50 50 50)
genotypeEnvCtrlConfig: ./configs/CGP.config
           maxTBounds: (40 40 40 40)
           minTBounds: (-20 -20 -20 -20)
        mutationRates: map(std::string, float) {
    "controller": 1
         "depth": 0
          "maxT": 0
          "minT": 0
       "rngSeed": 0
        "voxels": 0
         "width": 0
}
        rngSeedBounds: (0 0 4294967295 4294967295)
         voxelsBounds: (100 100 100 100)
          widthBounds: (10 1000 1000 10000)

===========================================
