====================================
============ Metabolism ============
====================================

  resistorsBounds: ([ 0 0 ] [ 1 1 ] [ 1 1 ] [ 10 10 ])
growthSpeedBounds: (0 1 1 10)
 deltaWidthBounds: (0 0.2 0.2 1)
    mutationRates: map(std::string, float) {
     "deltaWidth": 0.25
    "growthSpeed": 0.25
      "resistors": 0.5
}
  distanceWeights: map(std::string, float) {
     "deltaWidth": 1
    "growthSpeed": 1
      "resistors": 1
}

====================================
