=================================================
===================== Plant =====================
=================================================

          dethklokBounds: (10 10 10 1000)
         distanceWeights: map(std::string, float) {
                 "cdata": 0
              "dethklok": 0.5
        "fruitOvershoot": 0.5
            "metabolism": 1
                  "root": 1
         "seedsPerFruit": 0.5
                 "shoot": 1
    "temperatureOptimal": 0.5
      "temperatureRange": 0.5
}
    fruitOvershootBounds: (1 1.1 1.1 2)
 genotypeCrossoverConfig: ./configs/BOCData.config
genotypeMetabolismConfig: ./configs/Metabolism.config
                ls_axiom: S
       ls_maxNonTerminal: F
          ls_maxRuleSize: 10
        ls_mutationRates: map(std::string, float) {
    "recursivity": 1
          "rules": 7
}
     ls_nonTerminalsSize: 0.005x0.01
    ls_recursivityBounds: (1 2 2 5)
         ls_rootInitRule: "S -> h"
        ls_rotationAngle: 0.523599
    ls_ruleMutationRates: map(std::string, float) {
    "brkSymb": 0.5
    "delSymb": 0.5
    "dupSymb": 1
    "mutSymb": 4
    "swpSymb": 3
}
 ls_ruleSetMutationRates: map(std::string, float) {
    "addRule": 2
    "delRule": 1
    "mutRule": 7
}
        ls_shootInitRule: "S -> [-l]f"
       ls_terminalsSizes: map(char, config::EDNAConfigFile<genotype::Plant>::OrganSize) {
    f: 0.01x0.05
    g: 0.02x0.02
    h: 0.01x0.1
    l: 0.01x0.1
    s: 0.01x0.1
    t: 0.01x0.1
}
           mutationRates: map(std::string, float) {
                 "cdata": 4
              "dethklok": 1
        "fruitOvershoot": 0.5
            "metabolism": 4
                  "root": 8
         "seedsPerFruit": 0.5
                 "shoot": 8
    "temperatureOptimal": 0.5
      "temperatureRange": 0.5
}
     seedsPerFruitBounds: (1 3 3 100)
temperatureOptimalBounds: (-20 10 10 40)
  temperatureRangeBounds: (0.001 10 10 30)

=================================================
