=====================================================
======================= PTree =======================
=====================================================

        DEBUG_CONTRIBUTORS: false
           DEBUG_ENVELOPPE: false
            DEBUG_ENV_CRIT: 1
     DEBUG_FULL_CONTINUOUS: true
          DEBUG_ID2SPECIES: false
               DEBUG_LEVEL: 0
               DEBUG_PTREE: false
          DEBUG_STILLBORNS: true
 avgCompatibilityThreshold: 0.25
    compatibilityThreshold: 0.1
             enveloppeSize: 15
       similarityThreshold: 0.5
          simpleNewSpecies: true
    stillbornTrimmingDelay: 2
 stillbornTrimmingMinDelay: 0
   stillbornTrimmingPeriod: 1000
stillbornTrimmingThreshold: 1.0
           winningPathOnly: false

=====================================================
