=====================================================
======================= PTree =======================
=====================================================

        DEBUG_CONTRIBUTORS: false
           DEBUG_ENVELOPPE: false
            DEBUG_ENV_CRIT: 1
     DEBUG_FULL_CONTINUOUS: true
          DEBUG_ID2SPECIES: false
               DEBUG_LEVEL: 0
               DEBUG_PTREE: false
          DEBUG_STILLBORNS: false
    compatibilityThreshold: 0.1
       similarityThreshold: 0.5
 avgCompatibilityThreshold: 0.25
                  rsetSize: 15
          simpleNewSpecies: true
   stillbornTrimmingPeriod: 100
stillbornTrimmingThreshold: 1
    stillbornTrimmingDelay: 4
 stillbornTrimmingMinDelay: 200

=====================================================
