=====================================================
======================= PTree =======================
=====================================================

 avgCompatibilityThreshold: 0.25
    compatibilityThreshold: 0.1
             enveloppeSize: 15
          minNodeEnveloppe: 0
           minNodeSurvival: 0
             showNodeNames: true
       similarityThreshold: 0.5
          simpleNewSpecies: true
    speciesDetailVerbosity: 1
    stillbornTrimmingDelay: 2
 stillbornTrimmingMinDelay: 0
   stillbornTrimmingPeriod: 1000
stillbornTrimmingThreshold: 1
         survivorNodesOnly: false

=====================================================
