====================================================
==================== Simulation ====================
====================================================

      DEBUG_NO_METABOLISM: false
         assimilationRate: 0.01
            baselineLight: 1
     baselineShallowWater: 0.3
              daysPerYear: 100
            floweringCost: 3
genotypeEnvironmentConfig: ./configs/Environment.config
      genotypePlantConfig: ./configs/Plant.config
      heightPenaltyStddev: 0.5
                initSeeds: 100
           killSeedsEarly: true
                 lifeCost: 0.05
           logGlobalStats: true
       logIndividualStats: false
          maxPlantDensity: 10
              ptreeConfig: ./configs/PTree.config
             resourceCost: 0.5
           saturationRate: 1
                saveEvery: 1
              stepsPerDay: 10
             stopAtMaxGen: 4294967295
             stopAtMinGen: 4294967295
               stopAtYear: 100
              taurusWorld: false
      temperatureMaxRange: 10
  temperatureRangePenalty: 10
            trimmingProba: 0
      updateTopologyEvery: 1
                verbosity: 1

====================================================
