====================================================
==================== Simulation ====================
====================================================

              configPTree: ./configs/PTree.config
      configGenotypePlant: ./configs/Plant.config
configGenotypeEnvironment: ./configs/Environment.config
       configDependencies: ./configs/Dependencies.config
                verbosity: 1
                saveEvery: 1
                initSeeds: 100
              stepsPerDay: 10
              daysPerYear: 100
              taurusWorld: false
           killSeedsEarly: true
         assimilationRate: 0.01
     baselineShallowWater: 0.5
            baselineLight: 0.5
           saturationRate: 1
                lifeCosts: map(char, float) {
    f: 0.05
    g: 0.05
    h: 0.025
    l: 0.05
    s: 0.01
    t: 0.01
}
       photosynthesisCost: 1.4
             resourceCost: 0.5
            floweringCost: 3
      temperatureMaxRange: 10
  temperatureRangePenalty: 10
      updateTopologyEvery: 10
      heightPenaltyStddev: 1

====================================================
