====================================================
==================== Simulation ====================
====================================================

      DEBUG_NO_METABOLISM: false
         assimilationRate: 0.01
            baselineLight: 0.5
     baselineShallowWater: 0.5
       configDependencies: ./configs/Dependencies.config
configGenotypeEnvironment: ./configs/Environment.config
      configGenotypePlant: ./configs/Plant.config
              configPTree: ./configs/PTree.config
              daysPerYear: 100
            floweringCost: 3
      heightPenaltyStddev: 1
                initSeeds: 100
           killSeedsEarly: true
                 lifeCost: 0.05
             resourceCost: 0.5
           saturationRate: 1
                saveEvery: 1
              stepsPerDay: 10
              taurusWorld: false
      temperatureMaxRange: 10
  temperatureRangePenalty: 10
      updateTopologyEvery: 10
                verbosity: 0

====================================================
